h1 {
    text-align: center;
}
h2 
{
    display: inline; /* make h2 display inline */
}
#zombieCount, #cpsCount
{
    display: inline; /* make the zombie count display inline */
}
#zombie
{
    width: 20%;
    height: auto;
    display: block; /* Display as a block */
    margin: 0 auto; /* Center horizontally */
    margin-top: 12%;
}
.uidisplay
{
    text-align: center;
}

.weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing between weapons */
}

.weapon img {
    width: 10%; /* Adjust image width as needed */
    height: auto; /* Adjust image height as needed */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust spacing between image and text */
}

.weapon > div {
    margin-bottom: 5px; /* Adjust spacing between text elements */
}

img {
    transition: transform 0.3s ease; /* Add smooth transition effect to all images */
}
  
img:active {
    transform: scale(1.1); /* Increase size by 10% when clicked */
    cursor: pointer; /* Change cursor on click to indicate interactivity */
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
  }
  
  #weapons {
    margin-top: 50px; /* Adjust the margin to push content below the top bar */
  }